.Compositions{
    text-align: center;
}

.Compositions-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Compositions-logo {
      animation: Compositions-logo-spin infinite 20s linear;
    }
  }
  
  .Compositions-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Compositions-link {
    color: #61dafb;
  }
  
  @keyframes Compositions-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }